<p>dragndrop works!</p>


  
<div class="example-container">
    <h2>Source</h2>
  
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="source"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of source" cdkDrag>{{item}}</div>
    </div>
  </div>
  
  <div class="example-container">
    <h2>Form</h2>
  
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="form"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of form" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Function</h2>
  
    <div
      cdkDropList
      #functions="cdkDropList"
      [cdkDropListData]="form"
      [cdkDropListConnectedTo]="[functions]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of form" cdkDrag>{{item}}</div>
    </div>
  </div>
