<!--<p>cdk-form-drag works!</p>-->
<div class="main-container">
  <!--Source Form-->
  <form class="source-form" [formGroup]="this.sourceMap['Form']">
    <div class="form-header">
      <h2>Source</h2>
    </div>
    <div
        cdkDropList
        id = 'source'
        #sourceList="cdkDropList"
        [cdkDropListData]="this.sourceMap['FormItemValues']"
        [cdkDropListConnectedTo]="[mappedList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of this.sourceMap['FormItemValues']" cdkDrag #elem="cdkDrag">
          <span cdkDragHandle>
            {{item}}
          </span>
        </div>
      </div>
  </form>

  <!--Mapped Form-->
  <form class="mapping-form" [formGroup]="this.mappedMap['Form']">
    <h2>Mapping</h2>
    <div
        cdkDropList
        id = 'mapped'
        #mappedList="cdkDropList"
        [cdkDropListData]="this.mappedMap['FormItemValues']"
        [cdkDropListConnectedTo]="[sourceList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of this.mappedMap['FormItemValues'];
              let i = index" cdkDrag #elem="cdkDrag">
          <div class="mapping-item-container">
            <div class="mapping-container-desc">
              <span cdkDragHandle>
                {{item}}
              </span>
              <button class="save-button" (click)="saveState(item, i)">Save</button>
            </div>
            <div class="mapping-inputs">
              <span>Item Alias:</span>
              <input id="{{ item + '_alias' }}" class="input-box" type="text" value="{{ this.mappedMap['FormItemAlias'][i] }}">
              <span>Where Clause:</span>
              <input id="{{ item + '_where' }}" class="input-box" type="text" value="{{ this.mappedMap['FormItemWhere'][i] }}">
              <span>Case Statment:</span>
              <input id="{{ item + '_case' }}" class="input-box" type="text" value="{{ this.mappedMap['FormItemCase'][i] }}">
            </div>
          </div>
        </div>
      </div>
  </form>

</div>

<div style="position: fixed; bottom: 0px;">
  {{ this.mappedMap['Form'].value | json}}
</div>
