<!--<p>cdk-form-drag works!</p>-->
<div class="main-container">
  <!--Source Form-->
  <form class="source-form" [formGroup]="sourceForm">
    <div class="form-header">
      <h2>Source</h2>
    </div>
    <div
        cdkDropList
        id = 'source'
        #sourceList="cdkDropList"
        [cdkDropListData]="sourceFormItemValues"
        [cdkDropListConnectedTo]="[mappedList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of sourceFormItemValues" cdkDrag #elem="cdkDrag">
          <span cdkDragHandle>
            {{item}}
          </span>
        </div>
      </div>
  </form>


  <!--Mapped Form-->
  <form class="mapping-form" [formGroup]="mappedForm">
    <h2>Mapping</h2>
    <div
        cdkDropList
        id = 'mapped'
        #mappedList="cdkDropList"
        [cdkDropListData]=" mappedFormItemValues"
        [cdkDropListConnectedTo]="[sourceList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of mappedFormItemValues;
              let i = index" cdkDrag #elem="cdkDrag">
          <div class="mapping-item-container">
              <div class="mapped-item" cdkDragHandle>
                <span>{{item}}</span>
              </div>
              <div class="new-item-input">
                <input [id]="item" class="input-box" type="text" value="{{mappedFormItemNotes[i]}}">
              </div>
          </div>
          <!--
          <span cdkDragHandle>
            {{item}}
          </span>
          <span class="span-class" cdkDragHandle>
            {{item}}
          </span>
          <div class="mapping-box">
            <p>Where Clause</p>
            <input [id]="item" class="input-box" type="text" value="{{mappedFormItemNotes[i]}}">
        </div>
        <div>
          <button class="save-button" (click)="addNote(item, i)">Save</button>
        </div>
        -->
        </div>
      </div>
  </form>

</div>

<button class="button" (click)="logger()">Execute</button>

<div style="position: fixed; bottom: 0px;">
  {{ mappedForm.value | json}}
</div>


<!--
<form [formGroup]="sourceForm">
	<input formControlName="title" />
<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div [id]="i" class="example-box" *ngFor="let item of formItems.controls; let i=index" (click)="logger()"
    cdkDrag #elem="cdkDrag" (mouseenter)="enter(i)">
    <span cdkDragHandle>
      {{formItemValues[i]}}
    </span>
    <div>
    <input type="text">
    <select>
      <option [hidden]="elem.moved">{{activeNote}}</option>
      <option>foo</option>
      <option>bar</option>
      <option>baz</option>
      <option>quux</option>
    </select>
    </div>
      </div>
</div>

</form>
-->
